{% extends "base.html" %}


{% block titulo %}  Inicio  {% endblock %}



{% block contenido %}  

<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div
            class="h-100 p-5 text-white bg-primary border rounded-3">
            <h2>Institucion Educativa La Palestina</h2>
            <p>Ser una institución educativa básica donde se imparta 
                una educación laica, inclusiva y sobre todo de calidad, 
                que cumpla y sirva de base para el interés de los alumnos, logrando una formación integral como seres humanos para un desarrollo pleno y armónico; siendo críticos, analíticos y reflexivos, con valores sólidos.</p>
            <button class="btn btn-outline-danger" type="button">Example button</button>
        </div>
    </div>
    <div class="col-md-6">
        <div
            class="h-100 p-5 bg-primary border rounded-3">
            <h2>Nuestro Compromiso</h2>
            <p>Nuestra misión es desarrollar en los alumnos 
                las capacidades, habilidades, actitudes y 
                valores para su formación integral: 
                competencias fundamentales para su incorporación a la sociedad y 
                para todo el aprendizaje a lo largo de la vida. 
                Todo por lograr los propósitos educativos.</p>
            
        </div>
    </div>
</div>

<button class="btn Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then,
                mix and match with additional component themes and more." type="button">Comenzar</button>

{% endblock %}